:root {
  --transition: cubic-bezier(0.645, 0.045, 0.355, 1);
  --primary: #1f2937;
  --primary-dark: #111827;
}

body {
  color: var(--primary);
}

*:focus:not(.focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid rgb(31 41 55 / 15%) !important;
}

input:focus,
textarea:focus {
  outline: none !important;
}
