@import "./animations.css";
@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover\:float {
    @apply transform transition hover:-translate-y-1;
  }

  .hover\:scale {
    @apply transform transition hover:scale-95;
  }

  .shadow-4xl {
    box-shadow: 0 1rem 3rem rgba(52, 58, 64, 0.175);
  }

  .from-primary {
    --tw-gradient-from: var(--primary);
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-to, rgba(251, 191, 36, 0));
  }

  .to-primary-dark {
    --tw-gradient-to: var(--primary-dark);
  }

  .z-60 {
    z-index: 60;
  }

  @responsive {
    .flex-5\/6 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .flex-4\/6 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%;
    }

    .flex-3\/6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .flex-2\/6 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    .left-unset {
      left: unset;
    }
  }
}
